<!DOCTYPE html>
<html>
<body>

    <h1>Cancelación Reserva</h1>
    <h1>Asunto: Importante: Cancelación de reserva de vuelo</h1>


    <p>Hola {{NombreUsuario}}</p>
    <p>
        Lamentamos informarle que su reserva de vuelo ha sido cancelada.Nosostros entendemos que
        las circunstancias pueden cambiar y respetamos tu decisión de cancelar tu reserva.
    </p>
    <p>Detalles de la reserva:<br>
    <p>
        <b>Id de la reserva:</b>{{IdReserva}}<br>
        <b>Fecha de salida:</b>{{FechaSalida}}<br>
        <b>Origen:</b>{{Origen}}<br>
        <b>Destino:</b>{{Destino}}<br>

    <p>Hemos procesado tu solicitud de cancelación y hemos confirmado la misma.</p>
    <p>
        Si necesitas más asistencia o deseas hacer otra reserva en el futuro, no dudes en ponerte en
        contacto con nuestro equipo de soporte.
    </p>

</body>
</html>