<!DOCTYPE html>
<html>
<body>

    <h1>Confirmación Reserva</h1>
    <h1>Asunto: Confirmación de reserva de vuelo</h1>


    <p>Hola {{NombreUsuario}}</p>
    <p>¡Tu reserva de vuelo ha sido creada con éxito!</p>
    <p>Detalles de la reserva:<br>
    <p>
        <b>Id de la reserva:</b>{{IdReserva}}<br>
        <b>Fecha de salida:</b>{{FechaSalida}}<br>
        <b>Origen:</b>{{Origen}}<br>
        <b>Destino:</b>{{Destino}}<br>
        <b>Número de Asiento:</b>{{NumeroAsiento}}
    </p>


    <p>Gracias por elegir nuestra aerolínea.¡Esperamos que tengas un excelente vuelo!</p>

</body>
</html>